################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/bin
/ipch
*.sdf
*.opensdf
*.suo
*.user